manus2026/resources/odd/andersen.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
     <teiHeader>
          <fileDesc>
               <titleStmt>
                    <title>Andersen</title>
               </titleStmt>
               <publicationStmt>
                    <publisher>eXistSolutions GmbH</publisher>
                    <availability>
                         <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                         <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                         <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                         <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                    </availability>
               </publicationStmt>
               <sourceDesc>
                    <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                    <p>born digital</p>
               </sourceDesc>
          </fileDesc>
          <encodingDesc>
               <tagsDecl>
                    <rendition source="twocol.css"/>
                    <rendition source="andersen.css"/>
               </tagsDecl>
          </encodingDesc>
          <revisionDesc>
               <change when="2021-05-11+02:00">Initial version</change>
               <change who="NHB" when="2024-12-11" status="draft">schemaSpec/@source: teipublisher.odd > sv.odd (version from 28-09-2024)</change>
          </revisionDesc>
     </teiHeader>
     <text>
          <body>
               <schemaSpec start="TEI teiCorpus" ident="andersen" source="sv.odd"><!--2024-12-11: <schemaSpec start="TEI teiCorpus" ident="andersen" source="teipublisher.odd">-->
<elementSpec ident="pb" mode="change">
                    <modelSequence>

            <model predicate="$parameters?mode='facsimile'" behaviour="pass-through">
                 <desc>use @select to select region from facsimile. Use @rend to rotate the image</desc>
                 <param name="facs" value="'https://img.andersen.sdu.dk/iiif/2/'|| @facs ||'/' || (if(@select) then concat(@select,'') else 'full') ||'/1050,/'|| (if(@style) then concat(@style,'') else '0') ||'/default.jpg'"/>                 
                 
<!--<param name="facs" value="'https://img.andersen.sdu.dk/iiif/2/'|| @facs ||'/' || (if(@select) then concat(@select,'') else 'full') ||'/1050,/'|| (if(@style) then concat(@style,'') else '0') ||'/default.jpg'"/>-->
                 <!--<param name="facs" value="'https://img.andersen.sdu.dk/iiif/2/'|| @facs ||'/full/1050,/0/default.jpg'"/>--><!--full/1200,/0/default.jpg'"/>-->
                <param name="label" value="@n"/>
                <param name="pos" value="'left-top'"/>
                <pb:template xmlns="" xml:space="preserve">     <jinn-window name="[[facs]]" headercontrols="close" position="[[pos]]" title="[[label]]">

    <span slot="icon"><button><iron-icon icon="icons:perm-media"/><span>[[label]]</span></button></span>
        <template>              
          <pb-facs-link label="[[label]]" facs="[[facs]]" emit="[[facs]]"/>
          <pb-facsimile type="image" subscribe="[[facs]]" default-zoom-level="1" show-navigation-control="" show-home-control=""/>               
        </template>
  </jinn-window></pb:template>
            </model>
            <model predicate="@facs" behaviour="webcomponent">
<desc>use @select to select region from facsimile. Use @rend to rotate the image</desc>
                <param name="name" value="'pb-facs-link'"/>
                 <param name="facs" value="'https://img.andersen.sdu.dk/iiif/2/'|| @facs ||'/' || (if(@select) then concat(@select,'') else 'full') ||'/1050,/'|| (if(@style) then concat(@style,'') else '0') ||'/default.jpg'"/>
                 <!--<param name="facs" value="'https://img.andersen.sdu.dk/iiif/2/'|| @facs ||'/' || (if(@select) then concat(@select,'') else 'full') ||'/1050,/'|| (if(@style) then concat(@style,'') else '0') ||'/default.jpg'"/>--><!--<param name="facs" value="'https://img.andersen.sdu.dk/iiif/2/'|| @facs ||'/full/1050,/0/default.jpg'"/>--><!--full/1200,/0/default.jpg'"/>-->
                <param name="emit" value="'transcription'"/>
            </model>
        </modelSequence>
                    <model behaviour="inline" useSourceRendition="true">
<desc>behaviour changed from "break" to "inline"</desc>
                         <param name="type" value="'page'"/>
                         <param name="label" value="(concat(if(@n) then concat(@n,' ') else '',if(@facs) then                   concat('@',@facs) else ''))"/>
                         <outputRendition xml:space="preserve">
            display: block; margin-left: 4pt; color: grey; float: right;
            </outputRendition>
                         <outputRendition xml:space="preserve" scope="before">
            content: '[Page ';
            </outputRendition>
                         <outputRendition xml:space="preserve" scope="after">
            content: ']';
            </outputRendition>
        </model>
                </elementSpec>
                    <elementSpec ident="floatingText" mode="change">
                         <modelSequence>
                              <model behaviour="link" cssClass="layer-link">
                                   <param name="alternate" value="'l' || translate(util:node-id(.), '.', '_')"/>
                                   <param name="uri" value="'#l' || translate(util:node-id(.), '.', '_')"/>
                                   <pb:template xml:space="preserve">
<pb-highlight key="[[alternate]]" highlight-self="highlight-self" emit="transcription" subscribe="transcription">
<pb-popover>
<paper-icon-button icon="icons:chrome-reader-mode"/>
<span slot="alternate">[[alternate]]</span>
</pb-popover>
</pb-highlight>
</pb:template>
                              </model>
                              <model behaviour="inline">
                                   <desc>added class=@type to div. 2025-09-12: added button</desc>
                                   <param name="body" value="body"/>
                                   <param name="alternate" value="'l' || translate(util:node-id(.), '.', '_')"/>
                                   <param name="id" value="'l' || translate(util:node-id(.), '.', '_')"/>
                                   <param name="type" value="@type"/>
                                   <pb:template xml:space="preserve">
<div class="[[type]] layer" id="[[id]]">
<button class="close-btn" onclick="this.closest('.layer').style.display='none'">X</button>
<pb-highlight key="[[alternate]]" highlight-self="highlight-self" emit="transcription" subscribe="transcription">[[body]]</pb-highlight>
</div>
</pb:template>
                                   <outputRendition xml:space="preserve">

                
</outputRendition>
                              </model>
                         </modelSequence>
                    </elementSpec>
                <!--<elementSpec ident="floatingText" mode="change">
                    <modelSequence>
            <model behaviour="link" cssClass="layer-link">
                <param name="alternate" value="'l' || translate(util:node-id(.), '.', '_')"/>
                <param name="uri" value="'#l' || translate(util:node-id(.), '.', '_')"/>
                <pb:template xmlns="" xml:space="preserve"><pb-highlight key="[[alternate]]" highlight-self="highlight-self" emit="transcription" subscribe="transcription"><pb-popover><paper-icon-button icon="icons:chrome-reader-mode"/><span slot="alternate">[[alternate]]</span></pb-popover></pb-highlight></pb:template>

            </model>
            <model behaviour="inline">
                <param name="body" value="body"/>
                <param name="alternate" value="'l' || translate(util:node-id(.), '.', '_')"/>
                <param name="id" value="'l' || translate(util:node-id(.), '.', '_')"/>
                <pb:template xmlns="" xml:space="preserve"><div class="layer" id="[[id]]"><pb-highlight key="[[alternate]]" highlight-self="highlight-self" emit="transcription" subscribe="transcription">[[body]]</pb-highlight></div></pb:template>
                 <outputRendition xml:space="preserve">margin-left: 60rem;
position: absolute;
min-width: 30rem;</outputRendition>
            </model>
        </modelSequence>
                </elementSpec>-->
            <elementSpec ident="milestone" mode="change">
                    <model predicate="$parameters?mode='facsimile' and @unit = &#34;layer&#34;" behaviour="inline">
            <param name="label" value="@n"/>
            <param name="facs" value="'https://img.andersen.sdu.dk/iiif/2/'|| @facs ||'/full/1050,/0/default.jpg'"/><!--full/1200,/0/default.jpg'"/>-->
            <param name="file" value="@facs"/>
            <param name="pos" value="let $layer := ($get(.)/ancestor::floatingText/@type)[1] return switch($layer)  case &#34;secondLayer&#34; return 'center-top' default return 'right-top'"/>
            <pb:template xmlns="" xml:space="preserve"><span>

  <pb-facs-link label="[[label]]" facs="[[facs]]" emit="transcription"/>
  <jinn-window name="[[facs]]" headercontrols="close" position="[[pos]]" title="[[label]]">
    <span slot="icon"><button><iron-icon icon="icons:perm-media"/><span>[[label]]</span></button></span>
        <template>              
          <pb-facs-link label="[[label]]" facs="[[facs]]" emit="[[facs]]"/>
          <pb-facsimile type="image" subscribe="[[facs]]" default-zoom-level="1" show-navigation-control="" show-home-control=""/>               
        </template>
  </jinn-window>
</span></pb:template>
                         </model>
                 <model behaviour="omit" predicate="@type=&#34;earlierEdition&#34; or @unit=&#34;shaft&#34; or contains(@xml:id,'skt')"/>                      
                 
                         <model behaviour="inline">
                              <param name="label" value="@n"/>
                              <param name="facs" value="@facs"/>
                              <pb:template xmlns="" xml:space="preserve"><pb-popover>
  <paper-icon-button icon="icons:perm-media"/>
  <span slot="alternate">
    <b>[[label]]</b>
    <br/>
     Filename: [[facs]]
  </span>
</pb-popover></pb:template>
                         </model>
                    </elementSpec>
                    <elementSpec ident="supplied" mode="change">
                         <model predicate="@reason='omitted'" behaviour="inline" cssClass="supplied">
                              <outputRendition xml:space="preserve" scope="before">
            content:"(";
            </outputRendition>
                              <outputRendition xml:space="preserve" scope="after">
            content:")";
            </outputRendition>
                         </model>
                         <model predicate="@reason" behaviour="inline" cssClass="app editorial supp">
<desc>renamed cssClass supplied > supp to avoid ambigious css-class resulting in double supplied-value causing inline>inline-block</desc>
                              <param name="content" value="."/>
                              <param name="alternate" value="@reason"/>
                              <pb:template xmlns="" xml:space="preserve"><pb-popover theme="material"><span slot="default">[[content]]</span><span slot="alternate">[[content]] <i> supplied (due to [[alternate]])</i></span></pb-popover></pb:template>
                              <outputRendition xml:space="preserve" scope="before">
            content:"[";
            </outputRendition>
                              <outputRendition xml:space="preserve" scope="after">
            content:"]";
            </outputRendition>
                         </model>
                         <model behaviour="inline" cssClass="app editorial supp">
                              <outputRendition xml:space="preserve" scope="before">
            content:"[";
            </outputRendition>
                              <outputRendition xml:space="preserve" scope="after">
            content:"]";
            </outputRendition>
                              <!--<outputRendition xml:space="preserve" scope="before">
            content:"{";
            </outputRendition>
                              <outputRendition xml:space="preserve" scope="after">
            content:"}";
            </outputRendition>-->
                         </model>
                    </elementSpec>
<elementSpec ident="gap" mode="change">
<model behaviour="inline"/>
</elementSpec>
                    <elementSpec ident="app" mode="change">
                         <model predicate="@type=&#34;var&#34;" behaviour="inline" cssClass="app var">
                              <param name="content" value="lem"/>
                              <param name="alt" value="rdg"/>
                              <pb:template xmlns="" xml:space="preserve"><span slot="default"><span class="genetic when">[[alt]]</span> [[content]]</span></pb:template>
                              <outputRendition xml:space="preserve" scope="before">
            content: "|";
            </outputRendition>
                         </model>
                         <model behaviour="inline" predicate="@type=&#34;corr&#34;">
<desc>added 2025-04-01. Elaborate based on solutions in GV. Add  class details</desc>
                              <param name="content" value="lem"/>
                              <param name="alt" value="concat('] ', rdg, ', ', rdg/@wit)"/>
                              <pb:template xmlns="" xml:space="preserve"><span slot="default">[[content]] <span class="genetic when"><i>[[alt]]</i></span></span></pb:template>
                         </model>
<model behaviour="inline">
     <param name="content" value="lem"/>
     <param name="alt" value="rdg"/>
</model>
                    </elementSpec>
                    <elementSpec ident="add" mode="change">
                         <model behaviour="inline" cssClass="app author add how"/>
                    </elementSpec>
                    <elementSpec ident="del" mode="change">
                         <model behaviour="inline" cssClass="app author del how">
                              <param name="content" value="."/>
                              <param name="when" value="if (@instant=&#34;false&#34;) then '(later)' else '(instant)'"/>
                              <pb:template xmlns="" xml:space="preserve"><pb-popover theme="material"><span slot="default">[[content]]</span><span slot="alternate">[[content]] <i>deleted [[when]]</i></span></pb-popover></pb:template>
                         </model>
                         <model predicate="ancestor::app and $parameters?pmode='inner'" behaviour="inline" cssClass="app author del">
                              <desc>special processing for handling deletions within popover apparatus entries</desc>
                         </model>
                         <model predicate="ancestor::app" behaviour="inline" cssClass="app author del how">
                              <param name="content" value="."/>
                              <param name="when" value="if (@instant=&#34;false&#34;) then ' (later) ' else ' (instant)'"/>
                              <pb:template xmlns="" xml:space="preserve"><span><span class="del">[[content]]</span> <i>[[when]]</i></span></pb:template>
                         </model>
                    </elementSpec>
                    <elementSpec ident="unclear" mode="change">
                         <model behaviour="inline" cssClass="app editorial unclear">
                              <desc>Exchanged Left angle bracket 〈: U+3008 with Mathematical Left angle bracket ⟨: U+27E8 and likewise for Mathematical right angle bracket U+27E9</desc>
                              <param name="content" value="."/>                              
                              <param name="cert" value="@cert"/>
                              <pb:template xmlns="" xml:space="preserve"><pb-popover theme="material"><span slot="default">[[content]]</span><span slot="alternate">unclear, [[cert]] certainty of reading</span></pb-popover></pb:template>
                              <!--<pb:template xmlns="" xml:space="preserve"><pb-popover theme="material"><span slot="default">[[content]]</span><span slot="alternate"><i>[[content]]</i> unclear</span></pb-popover></pb:template>-->
                              <outputRendition xml:space="preserve" scope="before">
            content: '⟨';
            </outputRendition>
                              <outputRendition xml:space="preserve" scope="after">
            content: '⟩';
            </outputRendition>
                         </model>
                    </elementSpec>
                    <elementSpec ident="lb" mode="change">
                         <model behaviour="break" cssClass="lines" useSourceRendition="true">
                              <param name="type" value="'line'"/>
                              <param name="label" value="@n"/>
                         </model>
                    </elementSpec>
                    <elementSpec ident="rdg" mode="change">
                         <model predicate="../@type=&#34;var&#34;" behaviour="inline" cssClass="rdg">
                              <param name="time" value="let $in := (@instant, child::*/@instant)[1] let $i := switch($in) case 'false' return 'later' case 'true' return 'instant' case 'unknown' return 'unknown' default return ()  return $i"/>
                              <param name="rdg" value="."/>
                              <pb:template xmlns="" xml:space="preserve"><span><span>[[rdg]]</span><pb-i18n key="genetic.[[time]]" class="gen"/></span></pb:template>
                         </model>
                    </elementSpec>
                    <elementSpec ident="lem" mode="change">
                         <model predicate="@rendition='#til'" behaviour="inline" cssClass="lem added">
                              <desc>2024-12-12: test. Maybe modify the css class name: app editiorial lem added</desc>
                              <param name="content" value="."/>
                              <param name="alternate" value="'later added'"/>
                              <pb:template xmlns="" xml:space="preserve"><pb-popover theme="material"><span slot="default">[[content]]</span><span slot="alternate"><i> [[alternate]]</i></span></pb-popover></pb:template>
                         </model>
                         <model behaviour="inline" cssClass="lem"/>
                    </elementSpec>
                    <elementSpec ident="retrace" mode="add">
                         <model behaviour="inline" cssClass="retrace">
<desc>2024-12-13: added alternate</desc>
                              <param name="content" value="."/>
<pb:template xmlns="" xml:space="preserve"><pb-popover theme="material"><span slot="default">[[content]]</span><span slot="alternate"><i>retraced </i>[[content]]</span></pb-popover></pb:template>
</model> 
                    </elementSpec>
                    <elementSpec ident="img" mode="change">
                         <!--<model output="print" behaviour="omit"/>
                         <model output="epub" behaviour="omit"/>-->
<desc>need to switch away from absolute path in src</desc>
                         <model behaviour="pass-through">
                              <desc></desc>
                              <param name="src" value="@src"/>
                              <param name="title" value="@title"/>
                              <pb:template xmlns="" xml:space="preserve"><img class="illustration tei-img" src="[[src]]" title="[[title]]" width="100%"/></pb:template>
                              <!--<img class="illustration tei-img" src="/wp-content/uploads/[[src]]" title="[[title]]"/>-->
                         </model>
                    </elementSpec>
                    <elementSpec ident="hi" mode="change">
                         <model predicate="@rend" behaviour="inline" useSourceRendition="true">
                              <param name="content" value="."/>
                              <param name="rend" value="@rend"/>
                              <pb:template xmlns="" xml:space="preserve"><span class="[[rend]]">[[content]]</span></pb:template>
                         </model>
                         <model predicate="@rendition" behaviour="inline" useSourceRendition="true">
                              <desc>at times rendition occurs where we should use rend</desc>
                              <param name="content" value="."/>
                              <param name="rend" value="@rendition"/>
                              <pb:template xmlns="" xml:space="preserve"><span class="[[rend]]">[[content]]</span></pb:template>
                         </model>
                         <model predicate="not(@rendition)" behaviour="inline">
                              <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
                         </model>
                    </elementSpec>
                    <elementSpec ident="delSpan" mode="add">
                         <model behaviour="inline">
                              <param name="target" value="@spanTo"/>
                              <pb:template xmlns="" xml:space="preserve"><a name="del" class="delSpan" href="#[[target]]"/></pb:template>
                         </model>
                    </elementSpec>
                    <elementSpec ident="anchor" mode="change">
                         <model behaviour="inline">
                              <param name="id" value="@xml:id"/>
                              <pb:template xmlns="" xml:space="preserve"><span id="[[id]]"/></pb:template>
                         </model>
                    </elementSpec>
                    <elementSpec ident="addSpan" mode="add">
                         <model behaviour="inline">
                              <param name="target" value="@spanTo"/>
                              <pb:template xmlns="" xml:space="preserve"><a name="del" class="addSpan" href="#[[target]]"/></pb:template>
                         </model>
                    </elementSpec>
               <elementSpec ident="div" mode="change">
                    <model predicate="$parameters?mode=&#34;toc&#34;" behaviour="pass-through">
            <param name="content" value="./div"/>
            <param name="head" value="head"/>
            <param name="div-id" value="@xml:id"/>
            <pb:template xmlns="" xml:space="preserve"><ul class="toc">
  <li><pb-link hash="[[div-id]]" emit="transcription">[[head]]</pb-link></li>
  [[content]]
</ul></pb:template>
        </model>
                    <model predicate="@type='title_page'" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model>
<model behaviour="block" predicate="@type='work'">
     <desc>Printed works displayed in EHDM. 2025-03-14: max-width: 40vw > 45rem</desc>
<outputRendition>
     max-width: 40rem;
     margin-left: 5vw;</outputRendition>
</model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section">
<outputRendition xml:space="preserve">max-width: 40rem;</outputRendition></model>
                    <model behaviour="block">
<desc>2025-02-27: added max-width</desc>
                         <outputRendition>
                              max-width: 40rem;</outputRendition>
</model>
                </elementSpec>
                <!--
2024-12-12: disabled rules for head in andersen.odd in order to enforce rules from sv.odd
<elementSpec ident="head" mode="change">
                    <model predicate="$parameters?mode='toc'" behaviour="inline"/>
                    <model predicate="$parameters?header='short'" behaviour="inline">
            <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.*?)[^\w]*$', '$1')"/>
        </model>
                    <model predicate="parent::figure" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::table" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::lg" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::list" behaviour="block">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
        </model>
                    <model behaviour="block"/>
                </elementSpec>-->
                    <elementSpec ident="cit" mode="change">
                         <model behaviour="block" predicate="not(ancestor::quote)">
                              
                              <outputRendition xml:space="preserve">
            padding-bottom: 2rem;
padding-top: 2rem;
max-width: fit-content;
margin-left: 1.5rem;
margin-right: 1.5rem;
font-size: smaller;
            
            </outputRendition>
                         </model>
                    </elementSpec>
                    <!--<elementSpec ident="note" mode="change">
<desc>editor's notes inside the body element. Andersen's own notes have the attribute type='footnote'</desc>
                         <model behaviour="note" predicate="not(@type='footnote') and ancestor::body">
                              <param name="content" value="."/>
                              <param name="label" value="let $label := @n let $c := . let $count := root(.)//note return 1 + count( $count[. &lt;&lt; $c])"/>
                              <pb:template xmlns="" xml:space="preserve"><pb-popover theme="material">
            <span slot="default" class="note-label">[[label]]</span>
            <span slot="alternate">[[content]]
            </span>
</pb-popover></pb:template>
                         </model>
                    </elementSpec>-->
                    
                    <elementSpec ident="note" mode="change">
                         <desc>notes in texts by editors, not notes in Andersen's texts. Main difference: exclude model/@cssClass="note-author". Maybe leave out test: and ancestor::TEI/teiHeader//titleStmt/title/@type='intro'</desc>

                         <model predicate="@type='transcript'" behaviour="inline" cssClass="transcript">
                              <outputRendition xml:space="preserve" scope="after">
            text:' ';
            </outputRendition>
                              <outputRendition xml:space="preserve">

            color: blue; 
font-family: "Courier New", Courier, monospace;
            
</outputRendition>
                         </model>

                         <model predicate="ancestor::notesStmt" behaviour="omit"/><!--compatibility with PMM and GV, etc. -->
                         <model predicate="@type='editor'" behaviour="inline" cssClass="note-editor">
                              <desc>should be extended to take toggle into account, like rdg. Add font decoration for easier distinction, e.g. italic</desc>
                              <outputRendition xml:space="preserve">
            font-size: smaller;
font-family: courier;
            </outputRendition>
                              <outputRendition xml:space="preserve" scope="before">
            content: ' ';
            </outputRendition>
                         </model>                         

<model predicate="@type='intro'" behaviour="note">
<desc>normal endnotes, display on hover</desc>
                              <param name="place" value="@place"/>
                                   <param name="label" value="@n"/>
                         </model>
                    </elementSpec>

                    <elementSpec ident="title" mode="change">
                         <desc>display of titles in intro and msDesc</desc>
                         
                         <model predicate="@type='intro'" behaviour="heading">
                              <desc>added 2024-12-13</desc>
                                                            
                         </model>                       
                                                  
                    </elementSpec>
                    <!--<elementSpec ident="author" mode="change">
                         <model predicate="@type='intro'" behaviour="inline">
                              <outputRendition xml:space="preserve">
            font-size:1.8rem;
text-alignment:center;
            </outputRendition>
                         </model>
                    </elementSpec>-->
                    <elementSpec ident="author" mode="change">
                         <model predicate="preceding-sibling::author and following-sibling::author" behaviour="inline">
                              <outputRendition xml:space="preserve" scope="after">
            content:', ';
            </outputRendition>
                         </model>
                         <model predicate="preceding-sibling::author and not(following-sibling::author)" behaviour="inline">
                              <outputRendition xml:space="preserve" scope="before">
            content:' &amp; ';
            </outputRendition>
                         </model>
                         <model behaviour="inline"/>
                    </elementSpec>

                    <!--<elementSpec ident="titleStmt" mode="change">
                         <model output="latex" behaviour="meta">
                              <param name="content" value="."/>
                         </model>
                         <model output="fo" behaviour="heading"/>
                         <model output="web" behaviour="heading" cssClass="test2">
                              <param name="content" value="."/>
                              <outputRendition xml:space="preserve">
            
            </outputRendition>
                         </model>
                         <model predicate="$parameters?mode='title'" behaviour="heading">
<desc>active in edited manuscripts as opposed to intro_ and msDesc_ where title has attribute named "type"</desc>
                              <param name="content" value="title[not(@type)]"/>
                              <param name="level" value="5"/>
                         </model>
                         <modelSequence output="web" predicate="$parameters?header='short'">
                              <model behaviour="heading">
                                   <desc>behaviour changed from link to header. Remove parameters</desc>
                              </model>
                              <model behaviour="heading">
                                   <param name="content" value="subsequence(title, 2)"/>
                              </model>
                              <model behaviour="heading">
                                   <param name="content" value="author"/>
                              </model>
                         </modelSequence>
                    </elementSpec>-->
                    <elementSpec ident="titleStmt" mode="change">
                         <model output="latex" behaviour="meta">
                              <param name="content" value="."/>
                         </model>
                         <model output="fo" behaviour="heading"/>
                         <model output="web" predicate=".//title[@type='intro']" behaviour="section" cssClass="intro-header">
                              <param name="content" value="."/>
                              <outputRendition xml:space="preserve">
            
            </outputRendition>
                         </model>
                         <model predicate="$parameters?mode='title'" behaviour="heading">
                              <param name="content" value="title[not(@type)]"/>
                              <param name="level" value="5"/>
                         </model>
                         <modelSequence output="web" predicate="$parameters?header='short'">
                              <model behaviour="heading">
                                   <desc>behaviour changed from link to header. Remove parameters</desc>
                              </model>
                              <model behaviour="heading">
                                   <param name="content" value="subsequence(title, 2)"/>
                              </model>
                              <model behaviour="heading">
                                   <param name="content" value="author"/>
                              </model>
                         </modelSequence>
                    </elementSpec>
                    <elementSpec ident="editor" mode="add">
                         <model predicate="ancestor::titleStmt" behaviour="omit">
                              <desc>omit editor from header. Later add display for section with bibliographical details</desc>
                         </model>
                    </elementSpec>
                    <elementSpec ident="editor" mode="add">
                         <model predicate="ancestor::titleStmt" behaviour="omit">
                              <desc>omit editor from header. Later add display for section with bibliographical details</desc>
                         </model>
                    </elementSpec>
                    <elementSpec ident="body" mode="change">
                         <modelSequence>
                              <model behaviour="index">
                                   <param name="type" value="'toc'"/>
                              </model>
                              <model behaviour="block">
                                   <outputRendition xml:space="preserve">
                margin-top: 5rem;
                </outputRendition>
                              </model>
                         </modelSequence>
                    </elementSpec>

                    <elementSpec ident="item" mode="change">
                         <model predicate="parent::list/@type=&#34;hanging-indent&#34;" behaviour="listItem">
                              <desc>items in list of literature. Negative value to pull the first line back. Positive value to push subsequent lines forward. 2025-08-15: added overflow-wrap: break-word</desc>
                              <outputRendition xml:space="preserve">

            text-indent: -20px; 
padding-left: 20px;
list-style-type: none;
padding-left:0px;
  text-align: justify;
overflow-wrap: break-word;
            
</outputRendition>
                         </model>
                         <model predicate="parent::list/@rend=&#34;numbered&#34;" behaviour="listItem"/>
                         <model behaviour="listItem"/>
                         <!--<model predicate="parent::list/@type=&#34;numbered&#34;" behaviour="listItem">
                              <desc>items in numbered lists. Ideally the html-output of the list should be changed from ul to ol. This requires too many changes. The numbering is handled in the preprocessing and is hard-coded. See ListNumber.xsl</desc>
                              <outputRendition xml:space="preserve">            
list-style-type: none;
padding-bottom:0.5rem;            
</outputRendition>
                         </model>-->
                         <!--<model behaviour="listItem"><outputRendition xml:space="preserve">            
            
</outputRendition></model>-->
                    </elementSpec>


                    <elementSpec ident="list" mode="change">
                         <model predicate="@type=&#34;hanging-indent&#34;" behaviour="list">
                              <desc>items in list of literature</desc>
                              <outputRendition xml:space="preserve">
            padding-left: 20px;
            
</outputRendition>
                         </model>
                         
                         <model predicate="@rend=&#34;numbered&#34;" behaviour="block" useSourceRendition="true">
                              <desc>items in numbered lists. Change the html-output of the list from ul to ol.</desc>
                                   <param name="content" value="item"/>
                                   <pb:template xml:space="preserve">
<ol>[[content]]</ol>
<!--<outputRendition xml:space="preserve">
            text-align: justify;
            
</outputRendition>-->
</pb:template>
                              </model>
                              
                         
                         <model behaviour="list"/>
                    </elementSpec>

                    <elementSpec ident="ref" mode="change"><!--added 2025-07-03-->
                         <model predicate="@type='docOut'" behaviour="link">
                              <param name="uri" value="@target"/>
                              <param name="target" value="_blank"/>
                         </model>
                         <model predicate="not(@target)" behaviour="inline"/>
                         <model predicate="not(node())" behaviour="link">
                              <param name="content" value="@target"/>
                              <param name="uri" value="@target"/>
                              <param name="target" value="_blank"/>
                         </model>
                         <model behaviour="link">
                              <param name="uri" value="@target"/>
                              <param name="target" value="_blank"/>
                         </model>
                    </elementSpec>

                    <!--<elementSpec ident="byline" mode="change">
                         <model behaviour="block">
                              <param name="content" value="."/>
                              <param name="rend" value="@rend"/>
</model>
                         
                         
                         
                    </elementSpec>-->

<!--2025-02-20 BEGIN test for metadata from osinski.odd-->
                    <!--<elementSpec ident="titleStmt" mode="change">
                         <model output="latex" behaviour="meta">
                              <param name="content" value="."/>
                         </model>
                         <model output="fo" behaviour="heading"/>
                         <modelSequence output="web" predicate="$parameters?mode='title' ">
                              <model behaviour="inline">
                                   <param name="content" value="title[1]"/>
                              </model>
                              <model behaviour="inline">
                                   <param name="content" value="subsequence(title, 2)"/>
                              </model>
                         </modelSequence>
                         <model predicate="$parameters?mode='metadata'" behaviour="block"/>
                         
                    <modelSequence output="web" predicate="$parameters?header='short'">
                         <model behaviour="link">
                              <param name="content" value="title[1]"/>
                              <param name="uri" value="$parameters?doc"/>
                         </model>
                         <model behaviour="block">
                              <param name="content" value="subsequence(title, 2)"/>
                         </model>
                         <model behaviour="block">
                              <param name="content" value="(author, editor)"/>
                         </model>
                    </modelSequence>
                    <model output="web" behaviour="block"/>
                    </elementSpec>
                    <elementSpec ident="editor" mode="change">
                         <model predicate="ancestor::teiHeader" behaviour="block">
                              <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
                         </model>
                         <model behaviour="inline"/>
                    </elementSpec>
                    <elementSpec ident="teiHeader" mode="change">
                         <model output="web" predicate="$parameters?mode='metadata'" behaviour="block"/>
                         <model output="latex" behaviour="metadata"/>
                         <model output="fo" behaviour="omit"/>
                         <model output="web" predicate="$parameters?header='short'" behaviour="block"/>
                         <model output="web" behaviour="metadata"/>
                    </elementSpec>
                    <elementSpec ident="title" mode="change">
                         <model predicate="$parameters?mode='metadata'" behaviour="omit"/>
                         <model predicate="$parameters?header='short'" behaviour="heading">
                              <param name="level" value="5"/>
                         </model>
                         <modelSequence predicate="parent::titleStmt/parent::fileDesc">
                              <model predicate="preceding-sibling::title" behaviour="text">
                                   <param name="content" value="' — '"/>
                              </model>
                              <model behaviour="inline" cssClass="foo"/>
                         </modelSequence>
                         <model predicate="not(@level) and parent::bibl" behaviour="inline"/>
                         <modelSequence predicate="@level='m' or not(@level)">
                              <model behaviour="inline">
                                   <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
                              </model>
                              <model predicate="ancestor::biblFull" behaviour="text">
                                   <param name="content" value="', '"/>
                              </model>
                         </modelSequence>
                         <modelSequence predicate="@level='s' or @level='j'">
                              <model behaviour="inline">
                                   <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
                              </model>
                              <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                                   <param name="content" value="', '"/>
                              </model>
                         </modelSequence>
                         <modelSequence predicate="@level='u' or @level='a'">
                              <model behaviour="inline">
                                   <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
                              </model>
                              <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                                   <param name="content" value="'. '"/>
                              </model>
                         </modelSequence>
                         <model behaviour="inline">
                              <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
                         </model>
                    </elementSpec>
                    <elementSpec ident="fileDesc" mode="change">
                         <model predicate="$parameters?mode='metadata'" behaviour="block"/>
                         <modelSequence predicate="$parameters?header='short'">
                              <model behaviour="block" cssClass="header-short">
                                   <param name="content" value="titleStmt"/>
                              </model>
                              <model behaviour="block" cssClass="header-short">
                                   <param name="content" value="editionStmt"/>
                              </model>
                              <model behaviour="block" cssClass="header-short">
                                   <param name="content" value="publicationStmt"/>
                              </model>
                              <model behaviour="block" cssClass="sample-description">
                                   <desc>Output abstract containing demo description</desc>
                                   <param name="content" value="../profileDesc/abstract"/>
                              </model>
                         </modelSequence>
                         <model behaviour="title">
                              <param name="content" value="titleStmt"/>
                         </model>
                    </elementSpec>
                    <elementSpec ident="msDesc" mode="add">
                         <modelSequence>
                              <model behaviour="block">
                                   <desc>retrieves the primary language </desc>
                                   <param name="content" value="(root(.)//langUsage/language)"/>
                                   <outputRendition xml:space="preserve" scope="before">
                content: 'Primary language: ';
                </outputRendition>
                              </model>
                              <model behaviour="block">
                                   <desc>retrieves the form of the source from taxonomy file</desc>
                                   <param name="content" value="id(substring-after(root(.)//catRef[@scheme='#form']/@target, '#'), doc('/db/apps/tei-publisher/data/taxonomy.xml'))"/>
                                   <outputRendition xml:space="preserve" scope="before">
                content: 'Primary source: ';
                </outputRendition>
                              </model>
                              <model behaviour="block">
                                   <outputRendition xml:space="preserve">
                content: 'Location: ';
                </outputRendition>
                              </model>
                         </modelSequence>
                    </elementSpec>
                    <elementSpec ident="institution" mode="add">
                         <model behaviour="inline">
                              <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
                         </model>
                    </elementSpec>
                    <elementSpec ident="respStmt" mode="add">
                         <model behaviour="alternate">
                              <param name="default" value="persName"/>
                              <param name="alternate" value="resp"/>
                         </model>
                    </elementSpec>
                    <elementSpec ident="idno" mode="add">
                         <modelSequence>
                              <model behaviour="inline"/>
                              <model behaviour="inline">
                                   <param name="content" value="ancestor::msDesc/@type"/>
                                   <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
                                   <outputRendition xml:space="preserve" scope="before">
                content: ' (';
                </outputRendition>
                                   <outputRendition xml:space="preserve" scope="after">
                content: ')';
                </outputRendition>
                              </model>
                         </modelSequence>
                    </elementSpec>-->
                    <!--2025-02-20 END test for metadata from osinski.odd-->
               </schemaSpec>
          </body>
     </text>
</TEI>